In [1]:
import pandas as pd

In [4]:
filename = './data/MemberInfo.csv'
df = pd.read_csv(filename, index_col='id') # inddex_col은 1번째 열인 'id' 칼럼을 인덱스로 지정하는 매개변수.

In [5]:
df

     kor  eng
id
김철수   60   70
홍길동   70   75
박영희   80   80

In [6]:
df['kor'] + 5

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [15]:
def plus5(x):
    return x + 5

In [16]:
sq = df['kor'].apply(plus5)
sq

id
김철수    65
홍길동    75
박영희    85
Name: kor, dtype: int64

In [17]:
def gob(x, n):
    return x * n

In [20]:
ex = df['kor'].apply(gob, 2) 
# apply 함수에는 기본적으로 함수가 들어가야 하고 함수에 필요한 추가적인 인자는 n = 2와 같이 변수를 함께 명시해야 한다.
ex

TypeError: gob() missing 1 required positional argument: 'n'

In [21]:
ex = df['kor'].apply(gob, n = 2)
ex

id
김철수    120
홍길동    140
박영희    160
Name: kor, dtype: int64

In [22]:
def applyByColumn(col):
    mysum = 0
    for item in col:
        mysum += item
    return mysum / df.shape[0]

df.apply(applyByColumn, axis=0) # 각 행마다 연산을 수행하여 열에 대해 나타냄.

kor    70.0
eng    75.0
dtype: float64

df.shape는 데이터프레임의 차원을 나타내고 튜플 형태. 따라서 shape[0]은 행의 개수, shape[1]은 열의 개수를 의미함.

In [23]:
def applyByRow(row):
    mysum = 0
    for item in row:
        mysum += item
    return mysum / df.shape[1]

df.apply(applyByRow, axis=1) # 각 열마다 연산을 수행하여 행에 대해 나타냄.

id
김철수    65.0
홍길동    72.5
박영희    80.0
dtype: float64

apply 함수에서 행을 따라 연산하는지, 열을 따라 연산하는지에 대한 매개변수(axis)로 인해 다른 결과가 나오는듯.