# Series 생성

In [4]:
import numpy as np
import pandas as pd

In [5]:
myseries = pd.Series(range(0, 4))
myseries2 = pd.Series([4, 5, 6], index=['a', 'b', 'c'])
sdata = {'서울':3000,
        '부산':2000}
myseries3 = pd.Series(sdata)

In [6]:
myseries2

a    4
b    5
c    6
dtype: int64

In [7]:
myseries3

서울    3000
부산    2000
dtype: int64

# Series의 데이터 읽기와 쓰기

In [8]:
myindex = ['서울', '부산', '광주', '대구', '울산', '목포', '여수']
mylist = [50, 60, 40, 80, 70, 30, 20]
myseries = pd.Series(data=mylist, index=myindex)

In [9]:
myseries

서울    50
부산    60
광주    40
대구    80
울산    70
목포    30
여수    20
dtype: int64

### 데이터프레임 또는 시리즈에서 해당 인덱스의 데이터를 가리키는 것을 인덱싱이라고 함.(색인)

In [10]:
myseries[['대구']] # 여기는 대괄호가 두 개 사용됨. index와 해당되는 값을 인덱싱하려면 대괄호를 두 개 사용해야 함.

대구    80
dtype: int64

In [18]:
type(myseries['대구']) # 대괄호 하나만 써서 index를 검색하니까 해당하는 data 값이 나옴

numpy.int64

In [19]:
type(myseries[3]) # 4번째 인덱스에 해당되는 값을 출력한다. list 자료구조에서 인덱스를 선택하는 것과 같음.

numpy.int64

In [15]:
myseries[[3]] # 4번째를 인덱싱. series를 반환하는 것. 
type(myseries[[3]])

pandas.core.series.Series

In [16]:
myseries[[3]] # 4번째를 인덱싱

대구    80
dtype: int64

In [20]:
type(myseries['대구':'목포']) # 여기서는 연속된 두 개 이상의 데이터를 인덱싱하는데 대괄호를 하나만 사용했다.

pandas.core.series.Series

In [21]:
type(myseries[['대구', '여수']]) # 연속적이지 않고 서로 분리된 데이터를 인덱싱할 때는 이렇게.

pandas.core.series.Series

정리하자면 슬라이싱을 하는 경우에는 대괄호를 하나만 사용해도 series를 반환함. 그 외에는 대괄호 두 개를 사용.

### 슬라이싱은 특정 데이터만 잘라서 가져오는 것을 말함.

In [56]:
myseries[0:5:2]

서울    50
광주    40
울산    70
dtype: int64

In [57]:
myseries[[1, 3, 5]]

부산    60
대구    80
목포    30
dtype: int64

In [60]:
myseries[3:6]

대구    80
울산    70
목포    30
dtype: int64

### 값 변경하기

In [61]:
myseries[2] = 22
myseries[[2]]

광주    22
dtype: int64

In [63]:
myseries[2:5] = 33
myseries[2:5]

광주    33
대구    33
울산    33
dtype: int64

In [65]:
myseries[['서울', '대구']] = 55 
myseries

서울    55
부산    60
광주    33
대구    55
울산    33
목포    30
여수    20
dtype: int64

In [67]:
myseries[0::2] = 77 # 짝수 행만 77로 변경
myseries

서울    77
부산    60
광주    77
대구    55
울산    77
목포    30
여수    77
dtype: int64